
.train-item {
  margin-bottom: 42px;
  position: relative;

  .trainTitle {
    background: linear-gradient(90deg,blue,#fff);
    padding: 6px 12px;
    color: #fff;
  }

  .trainSubtitle {
    padding: 18px;
    font-size: 16px;
  }
  .train-content {
    margin-left: 10px;
  }
  .train-list {
    font-size: 16px;
    line-height: 2.5;
  }

  .train-btn {
    position: absolute;
    right: 24px;
    top: 15px;
  }

  .train-num {
    width: 32px;
    margin-right: 8px;
  }
}
