.teamNumberSlider {
  .team-item {
    background-color: #fff;
    border: 1px solid #eee;
    margin: 0 12px;
  }
  .team-item.aboutus {
    margin: 0;
  }
  .team-item:hover {
    box-shadow: 5px 5px 5px #888;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }

  .detail {
    padding: 12px;
    height: 240px;
    overflow: auto;
  }
  .itemName {
    display: inline-block;
    font-weight: 600;
    margin: 0 2rem;
  }
}
