body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.head{
  height: 40px;
  background: lightskyblue;
  font-size: 25px;
  text-align: center;
}

.content{
  margin: 3% 2%;
}