<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>奇点研究院</title>
    <link ref="shortcut icon" href="/src/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <div id="root"></div>

    <!-- 首先引入公用的第三方库，诸如：react/antd/react-dom/react-router...详见 webpack.config.js 配置 -->
    <script src="/web/libv1.js" charset="utf-8"></script>
    <script src="/web/index.js" charset="utf-8"></script>
</body>
</html>